vivado*
*.xml
*.meta
.DS_Store
hw_ai/real_data_week10/weights2.txt
hw_ai/real_data_week10/weights1.txt
hw_ai/real_data_week10/weights0.txt
hw_ai/real_data_week10/bias0.txt
hw_ai/real_data_week10/bias1.txt
hw_ai/real_data_week10/bias2.txt
