vivado*
*.xml
*.meta
.DS_Store
hw_ai/real_data_week10/weights2.txt
hw_ai/real_data_week10/weights1.txt
hw_ai/real_data_week10/weights0.txt
hw_ai/real_data_week10/bias0.txt
hw_ai/real_data_week10/bias1.txt
hw_ai/real_data_week10/bias2.txt
hw_ai/real_data_week10/data/extracted
hw_ai/real_data_week10/main.csv
ext_comms/unseen_data1/extract.py
ext_comms/unseen_data1/extracted_unseen1.txt
ext_comms/unseen_data1/p1_newreload0001.txt
ext_comms/unseen_data1/p1_newreload0002.txt
ext_comms/unseen_data1/p1_newreload0003.txt
ext_comms/unseen_data1/p1_newreload0004.txt
ext_comms/unseen_data1/p1_newreload0005.txt
ext_comms/unseen_data1/p1_newreload0006.txt
ext_comms/unseen_data1/p1_newreload0007.txt
ext_comms/unseen_data1/p1_newreload0008.txt
ext_comms/unseen_data1/p1_newreload0009.txt
ext_comms/unseen_data1/p1_newreload0010.txt
ext_comms/unseen_data1/p1_reload0001.txt
ext_comms/unseen_data1/p1_reload0002.txt
ext_comms/unseen_data1/p1_reload0003.txt
ext_comms/unseen_data1/p1_reload0004.txt
ext_comms/unseen_data1/p1_reload0005.txt
ext_comms/unseen_data1/p1_reload0006.txt
ext_comms/unseen_data1/p1_reload0007.txt
ext_comms/unseen_data1/p1_reload0008.txt
ext_comms/unseen_data1/p1_reload0009.txt
ext_comms/unseen_data1/p1_reload0010.txt
ext_comms/unseen_data2/extract.py
ext_comms/unseen_data2/extracted_unseen2.txt
ext_comms/unseen_data2/p1_newreload0001.txt
ext_comms/unseen_data2/p1_newreload0002.txt
ext_comms/unseen_data2/p1_newreload0003.txt
ext_comms/unseen_data2/p1_newreload0004.txt
ext_comms/unseen_data2/p1_newreload0005.txt
ext_comms/unseen_data2/p1_newreload0006.txt
ext_comms/unseen_data2/p1_newreload0007.txt
ext_comms/unseen_data2/p1_newreload0008.txt
ext_comms/unseen_data2/p1_newreload0009.txt
ext_comms/unseen_data2/p1_newreload0010.txt
ext_comms/unseen_data2/p1_reload0001.txt
ext_comms/unseen_data2/p1_reload0002.txt
ext_comms/unseen_data2/p1_reload0003.txt
ext_comms/unseen_data2/p1_reload0004.txt
ext_comms/unseen_data2/p1_reload0005.txt
ext_comms/unseen_data2/p1_reload0006.txt
ext_comms/unseen_data2/p1_reload0007.txt
ext_comms/unseen_data2/p1_reload0008.txt
ext_comms/unseen_data2/p1_reload0009.txt
ext_comms/unseen_data2/p1_reload0010.txt
ext_comms/unseen_data2/p2_newreload0001.txt
ext_comms/unseen_data2/p2_newreload0002.txt
ext_comms/unseen_data2/p2_newreload0003.txt
ext_comms/unseen_data2/p2_newreload0004.txt
ext_comms/unseen_data2/p2_newreload0005.txt
ext_comms/unseen_data2/p2_newreload0006.txt
ext_comms/unseen_data2/p2_newreload0007.txt
ext_comms/unseen_data2/p2_newreload0008.txt
ext_comms/unseen_data2/p2_newreload0009.txt
ext_comms/unseen_data2/p2_newreload0010.txt
ext_comms/unseen_data2/p2_reload0001.txt
ext_comms/unseen_data2/p2_reload0002.txt
ext_comms/unseen_data2/p2_reload0003.txt
ext_comms/unseen_data2/p2_reload0004.txt
ext_comms/unseen_data2/p2_reload0005.txt
ext_comms/unseen_data2/p2_reload0006.txt
ext_comms/unseen_data2/p2_reload0007.txt
ext_comms/unseen_data2/p2_reload0008.txt
ext_comms/unseen_data2/p2_reload0009.txt
ext_comms/unseen_data2/p2_reload0010.txt
ext_comms/unseen_data3/extract.py
ext_comms/unseen_data3/extracted_unseen3.txt
ext_comms/unseen_data3/p1_newreload0001.txt
ext_comms/unseen_data3/p1_newreload0002.txt
ext_comms/unseen_data3/p1_newreload0003.txt
ext_comms/unseen_data3/p1_newreload0004.txt
ext_comms/unseen_data3/p1_newreload0005.txt
ext_comms/unseen_data3/p1_newreload0006.txt
ext_comms/unseen_data3/p1_newreload0007.txt
ext_comms/unseen_data3/p1_newreload0008.txt
ext_comms/unseen_data3/p1_newreload0009.txt
ext_comms/unseen_data3/p1_newreload0010.txt
ext_comms/unseen_data3/p1_reload0001.txt
ext_comms/unseen_data3/p1_reload0002.txt
ext_comms/unseen_data3/p1_reload0003.txt
ext_comms/unseen_data3/p1_reload0004.txt
ext_comms/unseen_data3/p1_reload0005.txt
ext_comms/unseen_data3/p1_reload0006.txt
ext_comms/unseen_data3/p1_reload0007.txt
ext_comms/unseen_data3/p1_reload0008.txt
ext_comms/unseen_data3/p1_reload0009.txt
ext_comms/unseen_data3/p1_reload0010.txt
ext_comms/unseen_data3/p2_newreload0001.txt
ext_comms/unseen_data3/p2_newreload0002.txt
ext_comms/unseen_data3/p2_newreload0003.txt
ext_comms/unseen_data3/p2_newreload0004.txt
ext_comms/unseen_data3/p2_newreload0005.txt
ext_comms/unseen_data3/p2_newreload0006.txt
ext_comms/unseen_data3/p2_newreload0007.txt
ext_comms/unseen_data3/p2_newreload0008.txt
ext_comms/unseen_data3/p2_newreload0009.txt
ext_comms/unseen_data3/p2_newreload0010.txt
ext_comms/unseen_data3/p2_reload0001.txt
ext_comms/unseen_data3/p2_reload0002.txt
ext_comms/unseen_data3/p2_reload0003.txt
ext_comms/unseen_data3/p2_reload0004.txt
ext_comms/unseen_data3/p2_reload0005.txt
ext_comms/unseen_data3/p2_reload0006.txt
ext_comms/unseen_data3/p2_reload0007.txt
ext_comms/unseen_data3/p2_reload0008.txt
ext_comms/unseen_data3/p2_reload0009.txt
ext_comms/unseen_data3/p2_reload0010.txt
ext_comms/unseen_data4/extract.py
ext_comms/unseen_data4/extracted_unseen4.txt
ext_comms/unseen_data4/p1_newreload0001.txt
ext_comms/unseen_data4/p1_newreload0002.txt
ext_comms/unseen_data4/p1_newreload0003.txt
ext_comms/unseen_data4/p1_newreload0004.txt
ext_comms/unseen_data4/p1_newreload0005.txt
ext_comms/unseen_data4/p1_newreload0006.txt
ext_comms/unseen_data4/p1_newreload0007.txt
ext_comms/unseen_data4/p1_newreload0008.txt
ext_comms/unseen_data4/p1_newreload0009.txt
ext_comms/unseen_data4/p1_newreload0010.txt
ext_comms/unseen_data4/p1_newreload0011.txt
ext_comms/unseen_data4/p1_newreload0012.txt
ext_comms/unseen_data4/p1_newreload0013.txt
ext_comms/unseen_data4/p1_newreload0014.txt
ext_comms/unseen_data4/p1_newreload0015.txt
ext_comms/unseen_data4/p1_newreload0016.txt
ext_comms/unseen_data4/p1_newreload0017.txt
ext_comms/unseen_data4/p1_newreload0018.txt
ext_comms/unseen_data4/p1_newreload0019.txt
ext_comms/unseen_data4/p1_newreload0020.txt
ext_comms/unseen_data4/p1_newreload0021.txt
ext_comms/unseen_data4/p1_newreload0022.txt
ext_comms/unseen_data4/p1_newreload0023.txt
ext_comms/unseen_data4/p1_newreload0024.txt
ext_comms/unseen_data4/p1_newreload0025.txt
ext_comms/unseen_data4/p1_reload0001.txt
ext_comms/unseen_data4/p1_reload0002.txt
ext_comms/unseen_data4/p1_reload0003.txt
ext_comms/unseen_data4/p1_reload0004.txt
ext_comms/unseen_data4/p1_reload0005.txt
ext_comms/unseen_data4/p1_reload0006.txt
ext_comms/unseen_data4/p1_reload0007.txt
ext_comms/unseen_data4/p1_reload0008.txt
ext_comms/unseen_data4/p1_reload0009.txt
ext_comms/unseen_data4/p1_reload0010.txt
ext_comms/unseen_data4/p1_reload0011.txt
ext_comms/unseen_data4/p1_reload0012.txt
ext_comms/unseen_data4/p1_reload0013.txt
ext_comms/unseen_data4/p1_reload0014.txt
ext_comms/unseen_data4/p1_reload0015.txt
ext_comms/unseen_data4/p1_reload0016.txt
ext_comms/unseen_data4/p1_reload0017.txt
ext_comms/unseen_data4/p1_reload0018.txt
ext_comms/unseen_data4/p1_reload0019.txt
ext_comms/unseen_data4/p1_reload0020.txt
ext_comms/unseen_data4/p1_reload0021.txt
ext_comms/unseen_data4/p1_reload0022.txt
ext_comms/unseen_data4/p1_reload0023.txt
ext_comms/unseen_data4/p1_reload0024.txt
ext_comms/unseen_data4/p1_reload0025.txt
ext_comms/unseen_data4/p2_newreload0001.txt
ext_comms/unseen_data4/p2_newreload0002.txt
ext_comms/unseen_data4/p2_newreload0003.txt
ext_comms/unseen_data4/p2_newreload0004.txt
ext_comms/unseen_data4/p2_newreload0005.txt
ext_comms/unseen_data4/p2_newreload0006.txt
ext_comms/unseen_data4/p2_newreload0007.txt
ext_comms/unseen_data4/p2_newreload0008.txt
ext_comms/unseen_data4/p2_newreload0009.txt
ext_comms/unseen_data4/p2_newreload0010.txt
ext_comms/unseen_data4/p2_newreload0011.txt
ext_comms/unseen_data4/p2_newreload0012.txt
ext_comms/unseen_data4/p2_newreload0013.txt
ext_comms/unseen_data4/p2_newreload0014.txt
ext_comms/unseen_data4/p2_newreload0015.txt
ext_comms/unseen_data4/p2_newreload0016.txt
ext_comms/unseen_data4/p2_newreload0017.txt
ext_comms/unseen_data4/p2_newreload0018.txt
ext_comms/unseen_data4/p2_newreload0019.txt
ext_comms/unseen_data4/p2_newreload0020.txt
ext_comms/unseen_data4/p2_newreload0021.txt
ext_comms/unseen_data4/p2_newreload0022.txt
ext_comms/unseen_data4/p2_newreload0023.txt
ext_comms/unseen_data4/p2_newreload0024.txt
ext_comms/unseen_data4/p2_newreload0025.txt
ext_comms/unseen_data4/p2_reload0001.txt
ext_comms/unseen_data4/p2_reload0002.txt
ext_comms/unseen_data4/p2_reload0003.txt
ext_comms/unseen_data4/p2_reload0004.txt
ext_comms/unseen_data4/p2_reload0005.txt
ext_comms/unseen_data4/p2_reload0006.txt
ext_comms/unseen_data4/p2_reload0007.txt
ext_comms/unseen_data4/p2_reload0008.txt
ext_comms/unseen_data4/p2_reload0009.txt
ext_comms/unseen_data4/p2_reload0010.txt
ext_comms/unseen_data4/p2_reload0011.txt
ext_comms/unseen_data4/p2_reload0012.txt
ext_comms/unseen_data4/p2_reload0013.txt
ext_comms/unseen_data4/p2_reload0014.txt
ext_comms/unseen_data4/p2_reload0015.txt
ext_comms/unseen_data4/p2_reload0016.txt
ext_comms/unseen_data4/p2_reload0017.txt
ext_comms/unseen_data4/p2_reload0018.txt
ext_comms/unseen_data4/p2_reload0019.txt
ext_comms/unseen_data4/p2_reload0020.txt
ext_comms/unseen_data4/p2_reload0021.txt
ext_comms/unseen_data4/p2_reload0022.txt
ext_comms/unseen_data4/p2_reload0023.txt
ext_comms/unseen_data4/p2_reload0024.txt
ext_comms/unseen_data4/p2_reload0025.txt
ext_comms/unseen_data5/extract.py
ext_comms/unseen_data5/extracted_unseen5.txt
ext_comms/unseen_data5/p1_newreload0001.txt
ext_comms/unseen_data5/p1_newreload0002.txt
ext_comms/unseen_data5/p1_newreload0003.txt
ext_comms/unseen_data5/p1_newreload0004.txt
ext_comms/unseen_data5/p1_newreload0005.txt
ext_comms/unseen_data5/p1_newreload0006.txt
ext_comms/unseen_data5/p1_newreload0007.txt
ext_comms/unseen_data5/p1_newreload0008.txt
ext_comms/unseen_data5/p1_newreload0009.txt
ext_comms/unseen_data5/p1_newreload0010.txt
ext_comms/unseen_data5/p1_newreload0011.txt
ext_comms/unseen_data5/p1_newreload0012.txt
ext_comms/unseen_data5/p1_newreload0013.txt
ext_comms/unseen_data5/p1_newreload0014.txt
ext_comms/unseen_data5/p1_newreload0015.txt
ext_comms/unseen_data5/p1_newreload0016.txt
ext_comms/unseen_data5/p1_newreload0017.txt
ext_comms/unseen_data5/p1_newreload0018.txt
ext_comms/unseen_data5/p1_newreload0019.txt
ext_comms/unseen_data5/p1_newreload0020.txt
ext_comms/unseen_data5/p1_newreload0021.txt
ext_comms/unseen_data5/p1_newreload0022.txt
ext_comms/unseen_data5/p1_newreload0023.txt
ext_comms/unseen_data5/p1_newreload0024.txt
ext_comms/unseen_data5/p1_newreload0025.txt
ext_comms/unseen_data5/p1_reload0001.txt
ext_comms/unseen_data5/p1_reload0002.txt
ext_comms/unseen_data5/p1_reload0003.txt
ext_comms/unseen_data5/p1_reload0004.txt
ext_comms/unseen_data5/p1_reload0005.txt
ext_comms/unseen_data5/p1_reload0006.txt
ext_comms/unseen_data5/p1_reload0007.txt
ext_comms/unseen_data5/p1_reload0008.txt
ext_comms/unseen_data5/p1_reload0009.txt
ext_comms/unseen_data5/p1_reload0010.txt
ext_comms/unseen_data5/p1_reload0011.txt
ext_comms/unseen_data5/p1_reload0012.txt
ext_comms/unseen_data5/p1_reload0013.txt
ext_comms/unseen_data5/p1_reload0014.txt
ext_comms/unseen_data5/p1_reload0015.txt
ext_comms/unseen_data5/p1_reload0016.txt
ext_comms/unseen_data5/p1_reload0017.txt
ext_comms/unseen_data5/p1_reload0018.txt
ext_comms/unseen_data5/p1_reload0019.txt
ext_comms/unseen_data5/p1_reload0020.txt
ext_comms/unseen_data5/p1_reload0021.txt
ext_comms/unseen_data5/p1_reload0022.txt
ext_comms/unseen_data5/p1_reload0023.txt
ext_comms/unseen_data5/p1_reload0024.txt
ext_comms/unseen_data5/p1_reload0025.txt
ext_comms/unseen_data5/p2_newreload0001.txt
ext_comms/unseen_data5/p2_newreload0002.txt
ext_comms/unseen_data5/p2_newreload0003.txt
ext_comms/unseen_data5/p2_newreload0004.txt
ext_comms/unseen_data5/p2_newreload0005.txt
ext_comms/unseen_data5/p2_newreload0006.txt
ext_comms/unseen_data5/p2_newreload0007.txt
ext_comms/unseen_data5/p2_newreload0008.txt
ext_comms/unseen_data5/p2_newreload0009.txt
ext_comms/unseen_data5/p2_newreload0010.txt
ext_comms/unseen_data5/p2_newreload0011.txt
ext_comms/unseen_data5/p2_newreload0012.txt
ext_comms/unseen_data5/p2_newreload0013.txt
ext_comms/unseen_data5/p2_newreload0014.txt
ext_comms/unseen_data5/p2_newreload0015.txt
ext_comms/unseen_data5/p2_newreload0016.txt
ext_comms/unseen_data5/p2_newreload0017.txt
ext_comms/unseen_data5/p2_newreload0018.txt
ext_comms/unseen_data5/p2_newreload0019.txt
ext_comms/unseen_data5/p2_newreload0020.txt
ext_comms/unseen_data5/p2_newreload0021.txt
ext_comms/unseen_data5/p2_newreload0022.txt
ext_comms/unseen_data5/p2_newreload0023.txt
ext_comms/unseen_data5/p2_newreload0024.txt
ext_comms/unseen_data5/p2_newreload0025.txt
ext_comms/unseen_data5/p2_reload0001.txt
ext_comms/unseen_data5/p2_reload0002.txt
ext_comms/unseen_data5/p2_reload0003.txt
ext_comms/unseen_data5/p2_reload0004.txt
ext_comms/unseen_data5/p2_reload0005.txt
ext_comms/unseen_data5/p2_reload0006.txt
ext_comms/unseen_data5/p2_reload0007.txt
ext_comms/unseen_data5/p2_reload0008.txt
ext_comms/unseen_data5/p2_reload0009.txt
ext_comms/unseen_data5/p2_reload0010.txt
ext_comms/unseen_data5/p2_reload0011.txt
ext_comms/unseen_data5/p2_reload0012.txt
ext_comms/unseen_data5/p2_reload0013.txt
ext_comms/unseen_data5/p2_reload0014.txt
ext_comms/unseen_data5/p2_reload0015.txt
ext_comms/unseen_data5/p2_reload0016.txt
ext_comms/unseen_data5/p2_reload0017.txt
ext_comms/unseen_data5/p2_reload0018.txt
ext_comms/unseen_data5/p2_reload0019.txt
ext_comms/unseen_data5/p2_reload0020.txt
ext_comms/unseen_data5/p2_reload0021.txt
ext_comms/unseen_data5/p2_reload0022.txt
ext_comms/unseen_data5/p2_reload0023.txt
ext_comms/unseen_data5/p2_reload0024.txt
ext_comms/unseen_data5/p2_reload0025.txt
ext_comms/unseen_data5/rename_newreload.py
ext_comms/unseen_data6/extract.py
ext_comms/unseen_data6/extracted_unseen6.txt
ext_comms/unseen_data7/extract.py
ext_comms/unseen_data7/extracted_unseen7.txt
ext_comms/unseen_data7/rename_newnewnewreload.py
ext_comms/unseen_data8/extract.py
ext_comms/unseen_data8/extracted_unseen8.txt
ext_comms/unseen_data8/p1_newreload0001.txt
ext_comms/unseen_data8/p1_newreload0003.txt
ext_comms/unseen_data8/p1_newreload0004.txt
ext_comms/unseen_data8/p1_newreload0005.txt
ext_comms/unseen_data8/p1_newreload0006.txt
ext_comms/unseen_data8/p1_newreload0007.txt
ext_comms/unseen_data8/p1_newreload0008.txt
ext_comms/unseen_data8/p1_newreload0009.txt
ext_comms/unseen_data8/p1_newreload0010.txt
ext_comms/unseen_data8/p1_newreload0011.txt
ext_comms/unseen_data8/p1_newreload0012.txt
ext_comms/unseen_data8/p1_newreload0013.txt
ext_comms/unseen_data8/p1_reload0001.txt
ext_comms/unseen_data8/p1_reload0003.txt
ext_comms/unseen_data8/p1_reload0004.txt
ext_comms/unseen_data8/p1_reload0005.txt
ext_comms/unseen_data8/p1_reload0006.txt
ext_comms/unseen_data8/p1_reload0007.txt
ext_comms/unseen_data8/p1_reload0008.txt
ext_comms/unseen_data8/p1_reload0009.txt
ext_comms/unseen_data8/p1_reload0010.txt
ext_comms/unseen_data8/p1_reload0011.txt
ext_comms/unseen_data8/p1_reload0012.txt
ext_comms/unseen_data8/p1_reload0013.txt
ext_comms/unseen_data8/p2_newreload0001.txt
ext_comms/unseen_data8/p2_newreload0003.txt
ext_comms/unseen_data8/p2_newreload0004.txt
ext_comms/unseen_data8/p2_newreload0005.txt
ext_comms/unseen_data8/p2_newreload0006.txt
ext_comms/unseen_data8/p2_newreload0007.txt
ext_comms/unseen_data8/p2_newreload0008.txt
ext_comms/unseen_data8/p2_newreload0009.txt
ext_comms/unseen_data8/p2_newreload0010.txt
ext_comms/unseen_data8/p2_newreload0011.txt
ext_comms/unseen_data8/p2_newreload0012.txt
ext_comms/unseen_data8/p2_newreload0013.txt
ext_comms/unseen_data8/p2_reload0001.txt
ext_comms/unseen_data8/p2_reload0003.txt
ext_comms/unseen_data8/p2_reload0004.txt
ext_comms/unseen_data8/p2_reload0005.txt
ext_comms/unseen_data8/p2_reload0006.txt
ext_comms/unseen_data8/p2_reload0007.txt
ext_comms/unseen_data8/p2_reload0008.txt
ext_comms/unseen_data8/p2_reload0009.txt
ext_comms/unseen_data8/p2_reload0010.txt
ext_comms/unseen_data8/p2_reload0011.txt
ext_comms/unseen_data8/p2_reload0012.txt
ext_comms/unseen_data8/p2_reload0013.txt
ext_comms/unseen_data8/rename_newnewreload.py
hw_ai/real_data_week10/data/archive/reload_bryan2.txt
hw_ai/real_data_week10/data/archive/reload_jm2.txt
hw_ai/real_data_week10/data/archive/reload_yh2.txt
hw_ai/real_data_week10/data/reload_daniel.txt
hw_ai/real_data_week10/data/reload_rebecca.txt
hw_ai/real_data_week10/data/reload_yh.txt
